<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReplyMapper">
	<select id="list" resultType="com.bebe.domain.ReplyVO">
		select*from reply where bno = #{bno} ORDER BY rno desc
	</select>
	<insert id="create">
		insert into reply (bno,replytext,replyer)
		values (#{bno},#{replytext},#{replyer})
	</insert>
	<update id="update">
		update reply set replytext=#{replytext}, updatedate = now()
		where rno=#{rno}
	</update>
	<delete id="delete">
		delete from reply where rno = #{rno}
	</delete>
</mapper>